
@{
    ViewBag.Title = "ComputerScience";
}

<h2>ComputerScience</h2>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <ul>
                <li> COS1903 Scala Programming </li>
                <li> COS1920 Database Management </li>
                <li> COS2905 Object Oriented Programming (Java) </li>
                <li> COS2910 Database Management </li>
                <li> COS3911 Mobile Application </li>
                <li> IMAT3611 Computer Ethics and Privacy </li>
                <li> COS3451 Development Project </li>
            </ul>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Register &raquo;</a></p>
        </div>
    </div>
    </div>
