
@{
    ViewBag.Title = "CyberSecurity";
}

<h2>Cyber Security</h2>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <ul>
                <li> SE3901 C Programming  </li>
                <li> SE3902 Computer Law and Cyber Security Management </li>
                <li> SE3903 Linux Security </li>
                <li> SE3904 Cyber Threat Intelligence and Incident Response </li>
                <li> SE3905 Malware Analysis
                <li> IMAT3611 Computer Ethics and Privacy </li>
                <li> SE3451 Development Project </li>
            </ul>
            <p>@Html.ActionLink("Register", "RegisterComputerScience", "Modules", null, new { @class = "btn btn-default" })</p>
        </div>
    </div>
</div>

