@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Computer Science";
}

<h2>Computer Science</h2>

<p>Computer Science is a fast moving field which brings together disciplines including mathematics,
    enginerring, the natural sciences, pychology and linguistics. Our course provides you
    with skills highly prized in industry and for research</p>