
@{
    ViewBag.Title = "SoftwareEngineering";
}

<h2>Software Engineering</h2>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <ul>
                <li> SE3906 Interaction Design </li>
                <li> SE3410 Web Application Penetration Testing </li>
                <li> SE3406 Fuzzy Logic & Knowledge Based Systems </li>
                <li> SE3613 Data Mining </li>
                <li> SE3614 Big Data & Business Models</li>
                <li> IMAT3611 Computer Ethics and Privacy </li>
                <li> SE3451 Development Project </li>
            </ul>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Register &raquo;</a></p>
        </div>
    </div>
</div>

