@{
    ViewBag.Title = "Courses";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<body>
    <h2>@ViewBag.Title.</h2>-
    <h3>@ViewBag.Message</h3>

    <p>Take a browse at the courses we have to offer here at Information Technology College</p>
    <table>
        <tr>
            <th>Code</th>
            <th>Title</th>
            <th></th>
        </tr>
        <tr>
            <td>1</td>
            <td>Computer Science</td>
            <td><a class="button" href="~/Views/Module/ComputerScience.cshtml">More</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Software Engineering</td>
            <td><a class="button" href="~/Views/Module/SoftwareEngineering.cshtml">More</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Cyber Security</td>
            <td><a class="button" href="~/Views/Module/CyberSecurity.cshtml">More</a></td>
        </tr>
    </table>
</body>
