@{ 
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Information & Technology College</h1>
    <p class="lead">Summer in take now open</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Register now &raquo;</a></p>
</div>

<div class="row">
    <h2>Have look at our courses</h2>
    <div class="col-md-4">
        <h2>Computer Science</h2>
        <p>
            COS1903 Scala Programming
            COS1920 Database Management
            COS2905 Object Oriented Programming (Java)
            ...
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Software Engineering</h2>
        <p>
            SE3906 Interaction Design
            SE3410 Web Application Penetration Testing
            SE3406 Fuzzy Logic & Knowledge Based Systems
            ...
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cyber Security</h2>
        <p>
            SE3901 C Programming
            SE3902 Computer Law and Cyber Security Management
            SE3903 Linux Security
            ...
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
