
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Computer Science";
    @ViewBag.Message
}

<h2>Computer Science</h2>

<p>
    Computer Science is a fast moving field which brings together disciplines including mathematics,
    engineering, the natural sciences, pychology and linguistics. Our course provides you
    with skills highly prized in industry and for research
</p>

<table style="height: 331px; border-color: #33FFFC;" border="1" width="829">
    <tbody>
        <tr>
            <td style="width: 180.234px;">Module Code</td>
            <td style="width: 493.969px;">Module Title</td>
            <td style="width: 153.797px;">Description</td>
        </tr>
        <tr>
            <td style="width: 180.234px;">COS1903</td>
            <td style="width: 493.969px;">Scala Programming</td>
            <td style="width: 153.797px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 180.234px;">COS1920</td>
            <td style="width: 493.969px;">Database Management</td>
            <td style="width: 153.797px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 180.234px;">COS2905</td>
            <td style="width: 493.969px;">Object Orientated Programming (Java)</td>
            <td style="width: 153.797px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 180.234px;">COS2910</td>
            <td style="width: 493.969px;">Database Management</td>
            <td style="width: 153.797px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 180.234px;">COS3911</td>
            <td style="width: 493.969px;">Mobile Application</td>
            <td style="width: 153.797px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 180.234px;">IMAT3611</td>
            <td style="width: 493.969px;">Computer Ethics and Privacy</td>
            <td style="width: 153.797px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 180.234px;">COS3451</td>
            <td style="width: 493.969px;">Development Project</td>
            <td style="width: 153.797px;">&nbsp;</td>
        </tr>
    </tbody>
</table>

<h3>Module Content</h3>

<h3>Staff</h3>
