@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Software Engineering";

}

<h2>Software Engineering</h2>

<p>
    Software systems are at the heart of all aspects of daily life, including commerce, industry, healthcare and communication.
    With organisations of all sizes seeking talented professionals to create software systems that are usable
    robust and maintainable, now is great time to study software engineering.
</p>

<table style="height: 331px; border-color: #33FFFC;" border="1" width="829">
    <tbody>
        <tr>
            <td style="width: 180.234px;">Module Code</td>
            <td style="width: 493.969px;">Module Title</td>
            <td style="width: 153.797px;">Description</td>
        </tr>
        <tr>
            <td style="width: 180.234px;">SE3906</td>
            <td style="width: 493.969px;">Interaction Design</td>
            <td style="width: 153.797px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 180.234px;">SE3410</td>
            <td style="width: 493.969px;">Web Application Penetration Testing</td>
            <td style="width: 153.797px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 180.234px;">SE3406</td>
            <td style="width: 493.969px;">Fuzzy Logic & Knowledge Based Systems</td>
            <td style="width: 153.797px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 180.234px;">SE3613</td>
            <td style="width: 493.969px;">Data Mining</td>
            <td style="width: 153.797px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 180.234px;">SE3614</td>
            <td style="width: 493.969px;">Big Data & Business Models</td>
            <td style="width: 153.797px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 180.234px;">IMAT3611</td>
            <td style="width: 493.969px;">Computer Ethics and Privacy</td>
            <td style="width: 153.797px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 180.234px;">COS3451</td>
            <td style="width: 493.969px;">Development Project</td>
            <td style="width: 153.797px;">&nbsp;</td>
        </tr>
    </tbody>
</table>

<h3>Module Content</h3>

<h3>Staff</h3>



